<!DOCTYPE html>
<html>
  <head>
    <title>TrailMix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="TrailMix" />
    <meta name="title" property="og:title" content="TrailMix" />
    <meta property="og:type" content="Website" />
    <meta 
      name="image"
      property="og:image"
      content="https://media.giphy.com/media/KJdqxHmB5ifmyTrNWD/giphy.gif"
    />
    <meta 
      name="description"
      property="og:description"
      content="TrailMix is an alltrails clone where users can search for their 
                favorite trails and leave a review!  When a user travels to the 
                trail page, they will be provide with directions to the trail 
                with just a click of the button"
    />
    <meta name="author" content="Collin Winner" />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <script src="https://kit.fontawesome.com/de114b3bc5.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon-16x16.png')%>
    <script> 
      window.waypoint = '<%= image_tag asset_path("waypoint.png") %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
